<noscript>{{T `noscriptWarning`}}</noscript>

<script data-isso="//comments.patrickcamillo.com/"
        data-isso-id="thread-id"
        data-isso-css="true"
        data-isso-lang="{{ T `issoLang` }}"
        data-isso-reply-to-self="false"
        data-isso-require-author="false"
        data-isso-require-email="false"
        data-isso-reply-notifications="false"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="false"
        data-isso-avatar-bg="#f0f0f0"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        data-isso-gravatar="true"
        data-isso-vote="true"
        data-isso-vote-levels=""
        data-isso-feed="false"
        src="//comments.patrickcamillo.com/js/embed.min.js"></script>

<section id="isso-thread"></section>