<style>
    :root {
      --font-size: 1.0rem;

      --block-border-width: 1px;
      --block-border-radius: 3px;

      --mastodon-comment-indent: 40px;
    }

    body {
      font-family: Verdana, sans-serif;
      margin: auto;
      padding: 20px;
      max-width: 900px;
      text-align: left;
      background-color: #fff;
      word-wrap: break-word;
      overflow-wrap: break-word;
      line-height: 1.5;
      color: #444;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #222;
    }
  
    a {
      color: #528be6;
      text-decoration: none;
      /*color: #ff5e6c;*/
    }
  
    .title {
      text-decoration: none;
      border: 0;
    }
  
    .title span {
      font-weight: 400;
    }
  
    nav a {
      margin-right: 10px;
    }
  
    textarea {
      width: 100%;
      font-size: 16px;
    }
  
    input {
      font-size: 16px;
    }
  
    content {
      line-height: 1.6;
    }
  
    table {
      width: 100%;
    }
  
    img {
      max-width: 100%;
      border: 1px solid black;
    }
  
    code {
      padding: 2px 5px;
      background-color: #f2f2f2;
    }
  
    pre code {
      color: #222;
      display: block;
      padding: 20px;
      white-space: pre-wrap;
      font-size: 14px;
    }
  
    div.highlight pre {
      background-color: initial;
      color: initial;
    }
  
    div.highlight code {
      background-color: unset;
      color: unset;
    }
  
    blockquote {
      border-left: 1px solid #999;
      color: #222;
      padding-left: 20px;
      font-style: italic;
    }
  
    footer {
      padding: 25px;
      text-align: center;
    }
  
    .helptext {
      color: #777;
      font-size: small;
    }
  
    .errorlist {
      color: #eba613;
      font-size: small;
    }
  
    /* blog posts */
    ul.blog-posts {
      list-style-type: none;
      padding: unset;
    }
  
    ul.blog-posts li {
      display: flex;
    }
  
    ul.blog-posts li span {
      flex: 0 0 130px;
    }
  
    ul.blog-posts li a:visited {
      color: #52abe6;
    }

    .lightbox {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.8);
    }
    .lightbox img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
      }
    .lightbox:target {
        outline: none;
        display: block;
      }

    .comments {
      display: block;
      width: 100%;
      margin: auto;
    }

    .textarea {
      color: #757575 !important;
    }

    .input-wrapper input {
      color: #757575 !important;
    }

    .post-action input {
      color: #757575 !important;
    }
    
    /* Mastodon comments */

    .mastodon-comment {
      background-color: var(--block-background-color);
      border-radius: var(--block-border-radius);
      border: 1px var(--block-border-color) solid;
      padding: 20px;
      margin-bottom: 1.5rem;
      display: flex;
      flex-direction: column;
      color: var(--font-color);
      font-size: var(--font-size);
    }
    .mastodon-comment p {
      margin-bottom: 0px;
    }
    .mastodon-comment img {
      border: none;
    }
    .mastodon-comment .author {
      padding-top:0;
      display:flex;
    }
    .mastodon-comment .author a {
      text-decoration: none;
    }
    .mastodon-comment .author .avatar img {
      margin-right:1rem;
      min-width:60px;
      border-radius: 5px;
    }
    .mastodon-comment .author .details {
      display: flex;
      flex-direction: column;
    }
    .mastodon-comment .author .details .name {
      font-weight: bold;
    }
    .mastodon-comment .author .details .user {
      color: #5d686f;
      font-size: medium;
    }
    .mastodon-comment .author .date {
      margin-left: auto;
      font-size: small;
    }
    .mastodon-comment .content {
      margin: 15px 20px;
    }
    .mastodon-comment .attachments {
      margin: 0px 10px;
    }
    .mastodon-comment .attachments > * {
      margin: 0px 10px;
    }
    .mastodon-comment .content p:first-child {
      margin-top:0;
      margin-bottom:0;
    }
    .mastodon-comment .status > div {
      display: inline-block;
      margin-right: 15px;
    }
    .mastodon-comment .status a {
      color: #5d686f;
      text-decoration: none;
    }
    .mastodon-comment .status .replies.active a {
      color: #003eaa;
    }
    .mastodon-comment .status .reblogs.active a {
      color: #8c8dff;
    }
    .mastodon-comment .status .favourites.active a {
      color: #ca8f04;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #333;
        color: #ddd;
      }
  
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      strong,
      b {
        color: #eee;
      }
  
      a {
        color: #528be6;
        text-decoration: none;
      }

      img {
        border: 3px solid white;
      }
  
      code {
        background-color: #777;
      }
  
      pre code {
        color: #ddd;
      }
  
      blockquote {
        color: #ccc;
      }
  
      textarea,
      input {
        background-color: #252525;
        color: #ddd;
      }
  
      .helptext {
        color: #aaa;
      }

      .mastodon-comment img {
        border: none;
      }
    }
  
  </style>
  